In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("Factbook.db")

In [3]:
import pandas as pd

In [5]:
facts = pd.read_sql_query("select * from facts",conn)
print(facts.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 13 columns):
id                   261 non-null int64
code                 261 non-null object
name                 261 non-null object
area                 249 non-null float64
area_land            246 non-null float64
area_water           243 non-null float64
population           242 non-null float64
population_growth    236 non-null float64
birth_rate           228 non-null float64
death_rate           228 non-null float64
migration_rate       223 non-null float64
created_at           261 non-null object
updated_at           261 non-null object
dtypes: float64(8), int64(1), object(4)
memory usage: 26.6+ KB
None

In [7]:
facts = facts.dropna(axis=0)
print(facts.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 215 entries, 0 to 253
Data columns (total 13 columns):
id                   215 non-null int64
code                 215 non-null object
name                 215 non-null object
area                 215 non-null float64
area_land            215 non-null float64
area_water           215 non-null float64
population           215 non-null float64
population_growth    215 non-null float64
birth_rate           215 non-null float64
death_rate           215 non-null float64
migration_rate       215 non-null float64
created_at           215 non-null object
updated_at           215 non-null object
dtypes: float64(8), int64(1), object(4)
memory usage: 23.5+ KB
None

### Computing Projected Population

In [8]:
import math
def estimpop(df):
    estpop = df["population"]*(math.e**((df["population_growth"]/100)*35))
    return round(estpop,0)

In [9]:
facts["estimated_pop"] = facts.apply(estimpop,axis=1)
facts = facts.sort_values("estimated_pop",ascending=False)
print(facts[["name","estimated_pop","population"]][0:10])

                                  name  estimated_pop    population
76                               India   1.918415e+09  1.251696e+09
36                               China   1.600752e+09  1.367485e+09
128                            Nigeria   4.279890e+08  1.815621e+08
185                      United States   4.222466e+08  3.213689e+08
77                           Indonesia   3.532418e+08  2.559937e+08
131                           Pakistan   3.318676e+08  1.990858e+08
13                          Bangladesh   2.957897e+08  1.689577e+08
23                              Brazil   2.674393e+08  2.042598e+08
39   Congo, Democratic Republic of the   1.871078e+08  7.937514e+07
113                             Mexico   1.839863e+08  1.217368e+08

### Computing Total Area

In [10]:
conn = sqlite3.connect('factbook.db')

c = conn.cursor()
c.execute('SELECT sum(area_land),sum(area_water),sum(area_land)/sum(area_water) as rt FROM facts;')

print(c.fetchall())

[(128584834, 4633425, 27)]